body {
  font: 18px Helvetica;
  font-weight: 300;
  color: #333;
  overflow: initial;
  overflow-x: hidden;
  text-align: left;
  background-color: #fecfa17a;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 17.6px; 
  } 
}



.page-turns {
  position: relative;
}

.page-turn-prev {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 0;
  opacity: 0.7;
  border-bottom: 20px solid #5f5f5f;
  border-right: 20px solid transparent;
}

.page-turn-next {
  width: 0px;
  height: 0px;
  position: absolute;
  right: 0;
  opacity: 0.7;
  border-bottom: 20px solid #5f5f5f;
  border-left: 20px solid transparent;
}

.page-turn-prev:hover, .page-turn-next:hover {
  border-bottom: 20px solid maroon;
}

.container {
  color: #333;
  max-width: 33em;
  margin: 6em auto;
  padding: 0em 0.5em;
}

p {
  font-size: 1em;
  text-align: left; 
  line-height: 1.4em;
  color: #333;
  margin: 2.5em auto;
}
p a {
  text-decoration: none;
  color: #333;
  border-bottom: 0.5px dashed #333;
  transition: color 0.5s;
  -webkit-transition: color 0.5s; 
}
p a:hover {
  opacity: 0.9;
  transition: color 0.5s;
  -webkit-transition: color 0.5s; 
}

h1 {
  display: inline-block;
  font-size: 100px;
  text-align: center;
}

object {
  display: block;
  margin: auto;
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html{ height: 100%; }


ul {
  list-style-type: none;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

img {
  width: 100%;
  height: 100%; }

/*code block styling */
code {
  font-size: 0.78em; 
}
